

ng-md-icon {
  fill: currentColor;
  vertical-align: middle;
  display: inline-block;
  line-height: 1;
}

md-content {
  background-color: #eee;
}


/* Toolbar area */
.menu {
  background-color: transparent;
  border: none;
  height: 38px;
  margin: 16px;
  width: 36px;
}

md-toolbar h3 {
  margin: auto;
  font-weight: 500;
}

/* Sidenav area */
md-sidenav {
  width:240px;
}
md-sidenav > md-toolbar {
  height:64px;
}
