
  <md-content layout="column" layout-fill layout-align="start center" >

    <img ng-src="data:image/jpeg;base64,{{avatar}}" class="image"
          ng-click="getPicture()" />
          <md-button ng-click="read()">read</md-button>
          <md-button ng-click="send()">send</md-button>
    <ng-rate-it
      min = "0"
      max = "5"
      ng-model="model.resetable" resetable="false"></ng-rate-it>
    <p>{{user.nome}} {{user.cognome}}</p>
    <md-content ng-if="1==2">
      <md-card >
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Action required</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            status payment
          </p>
            <p>
              status scheda
            </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end end">
          <md-button>Action 1</md-button>
        </md-card-actions>
      </md-card>
    </md-content>



  <md-fab-speed-dial md-direction="up" md-open='false'
              class="md-scale md-fab-bottom-right md-hover-full speed-dial" >
    <md-fab-trigger>
      <md-button class="md-fab">
        <ng-md-icon icon="bubble_chart"></ng-md-icon>
      </md-button>
    </md-fab-trigger>
    <md-fab-actions>
      <md-button class="md-fab md-mini" ng-click="startTraining()">
        <ng-md-icon icon="play_arrow"></ng-md-icon>
            <md-tooltip md-direction="left">Start training</md-tooltip>
      </md-button>
    </md-fab-actions>
  </md-fab-speed-dial>

</md-content>
